{% extends "base.html" %}
{% load i18n %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div>

                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#register" aria-controls="home" role="tab"
                                                                  data-toggle="tab">注册</a></li>
                        <li role="presentation"><a href="#login" aria-controls="profile" role="tab"
                                                   data-toggle="tab">登录</a>
                        </li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="register">
                             <div class="panel panel-primary">
{#                    <div class="panel-heading " style="font-size: 20px">注 册</div>#}
                    <div class="panel-body">
                        <form method="post" action=".">
                            {% csrf_token %}
                            {% for field in form %}
                                {% if field.errors %}
                                    <div class="form-group has-error">
                                        {{ field }}</div>

                                    <div class="alert alert-danger " role="alert">
                                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                        <span class="sr-only">Error:</span>
                                        {{ field.errors.as_text }}
                                    </div>
                                {% else %}
                                    <div class="form-group">
                                        {# field.label_tag #}
                                        {{ field }}

                                        {% if field.help_text %}
                                            <div>
                                                <span id="helpBlock" class="help-block">{{ field.help_text }}</span>
                                            </div>

                                        {% endif %}
                                    </div>
                                {% endif %}


                            {% endfor %}
                            <div>
                                <button type="submit" class="btn btn-primary block-center" style="width:100%">注册
                                </button>

                            </div>

                        </form>
                    </div>
                </div>

                        </div>
                        <div role="tabpanel" class="tab-pane" id="login">profile</div>

                    </div>

                </div>


            </div>
        </div>


    </div>


{% endblock %}
